/* stylelint-disable */
@import '../../styles/_vars';
@import '../../styles/_mixins';
/* stylelint-enable */
.locations {
  .location {
    padding: 20px;
    border: 1px solid $black;
    border-radius: 10px;

    & + .location {
      margin-top: 20px;
    }

    .locationLink {
      @include link;
    }
  }
}
